<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录注册</title>

<link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<div class="form-structor">
<!--	<form th:action="@{/login/signUp}" method="post">-->
		<div class="signup">
			<h2 class="form-title" id="signup"><span>或</span>注册</h2>
			<div class="form-holder">
				<input id="signUpUsername" name="signUpUsername" type="text" class="input" placeholder="用户名" />
				<input id="signUpEmail" name="signUpEmail" type="email" class="input" placeholder="邮箱" />
				<input id="signUpPassword" name="signUpPassword" type="password" class="input" placeholder="密码" />
				<input id="signUpTel" name="signUpTel" type="number" class="input" placeholder="电话" />
				<input id="signUpAge" name="signUpAge" type="number" class="input" placeholder="年龄" />
			</div>
			<p id="msgSignUp" style="color: #ffffff;font-size: 10px"></p>
			<button class="submit-btn" id="signUp-btn">注册</button>
		</div>
<!--	</form>-->
<!--	<form th:action="@{/login/auth}" method="post">-->
		<div class="login slide-up">
			<div class="center">
				<h2 class="form-title" id="login"><span>或</span>登录</h2>
				<div class="form-holder">
					<input id="LoginEmail" name="LoginEmail" type="email" class="input" placeholder="邮箱" />
					<input id="LoginPassword" name="LoginPassword" type="password" class="input" placeholder="密码" />
				</div>
				<p id="msgLogin" style="color: #ca2a19;font-size: 10px"></p>
				<br>
				<button class="submit-btn" id="login-btn">登录</button>
			</div>
		</div>
<!--	</form>-->
</div>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jsService/login.js}"></script>
<script th:inline="javascript">

</script>
</body>
</html>